/* header nav */

header {
  background-color: #D6D4D3;
  height: 79px;
  width: auto;
  border-bottom: 5px solid black;
}

nav {
  display: flex;
}

nav ul {
  margin-left: auto;
  display: inline-flex;
  flex-direction: row;
}

nav li {
  padding: 30px;
  font-family: 'Farsan', cursive;
  font-size: 1.2em;
}

nav li:hover {
  background: #333333;
  color: #FFFFFF;
}

nav h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 1.5em;
  background-size: 45px;
  padding-top: 25px;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: #4C4C4C;
}

/*begin body content*/

h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 45px;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 50px;
  border-bottom: 5px solid black;
}

p {
  font-family: 'Lora', serif;
  font-weight: bolder;
  margin-top: 10px;
  text-align: center;
}

footer {
  font-size: 8px;
  height: 180px;
  width: auto;
  background-color: #3C5F57;
  bottom: 0;
  padding-top: 30px;
  border-top: 5px solid black;
}

footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

footer li {
  display: inline-block;
  margin: 0 25px;
}

section.home-page {
  padding: 0px;
  background-color: transparent;
  width: 100vw;
}

div.value-prop {
  position: absolute;
  top: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

section.portfolio-page {
  display: flex;
  align-items: center;
}

section.portfolio-page p {
  width: 50vw;
}

/*begin class styles*/

.jamfinder-img {
  display: flex;
  margin: auto;
  height: auto;
  width: 600px;
  border: 2px solid black;
}

.networker-img {
  display: flex;
  margin: auto;
  height: auto;
  width: 600px;
  border: 2px solid black;
  margin-top: 15px;
}

.ideabox-img {
  display: flex;
  margin: auto;
  height: auto;
  width: 600px;
  border: 2px solid black;
  margin-top: 15px;
}

/*parallax code*/
section.parallax {
  background: url('Images/mountains-parallax.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
}
section.parallax p {
  color: #FFFFFF;
}

/*begin repsonsive code*/
@media screen and (max-width: 800px){
  header {
    width: 100vw;
    height: 77px;
  }

  h2 {
    font-size: 20px;
  }

  body {
    width: 100vw;
  }

  nav ul {
    display: none;
  }

  div.value-prop {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
  }

  div.value-prop {
    padding: 0px;
  }

  div.value-prop h2 {
    font-size: 20px;
    margin: 5px;
  }

  section.portfolio-page p {
    width: 80vw;
  }

  .home-page {
    height: 190px;
    width: 100vw;
  }

  .portfolio-page {
    margin-left: 0px;
    padding-top: 10px;
    padding-left: 0px;
    width: 100vw;
  }

  .jamfinder-img  {
    height: 100px;
    width: 300px;
  }

  .networker-img {
    height: 150px;
    width: 300px;
  }

  .ideabox-img {
    height: 100px;
    width: 300px;
  }

}
